<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AIP - Scince Project</title>
    <link rel="stylesheet" href="/static/styles/page1.css">
</head>

<body>
    <section>
        <div class="content">
            <h1>The lost species of sikkim</h1>
            <p>God made beautiful species of birds and animals which are now in danger because of human greed. Does
                killing animals for their skin or teeth or any other part of their body seems cool?</p>
        </div>
    </section>
    <div class="body">
        <p><span class="text_start">No</span>, We all are humans, who are considered are the most intelligent creature
            on this Earth. Its our responsibility to maintain the balance in Environment.
            We have to stop poaching and hunting of wildlife as they are also a important part of this earth.
            But, due to negligence of humans some species are already vanishes from Earth which are known as Extinct
            whereas some species are on the line of being extinct which are known as Endangered. Its still in our hands
            to protect these Endangered from being extinct. So, in the following webpage we have shared the details of
            some Endangered animals and birds, whose origin is from sikkim.</p>
        <div class="images">
            <div class="image"><img src="/static/images/barbary_lion_1.jpg" alt=""></div>
            <div class="image"><img src="/static/images/mammath.jpg" alt=""></div>
            <div class="image"><img src="/static/images/cheetah.jpg" alt=""></div>
        </div>
        <p class="text">These are some examples of Critically Endangered and Extinct animals.</p>
        <br>
        <p class="text"><strong>Do you know what makes a animal extinct or Endangered?</strong></p>
        <p>Its human greed and sometimes its may be climate. Animals of past such as Dinosaurs were extinct due to
            drastic natural calamity. Whereas animals like Tiger are Endangered because of their hunt by human beings
            for their skin. One-horned rhinoceros is a critically Endangered animal because they were hunted because of
            their horn.</p>
            <br>
            <h1 class="links">
                <a href="/" class="left">Back to Main page...</a>
                <a href="/endangered-birds-and-animals" class="right">Continue...</a>
            </h1>
        
    </div>
</body>

</html>