<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Art Integrated Project</title>
    <link rel="stylesheet" href="/static/styles/style.css">
</head>

<body>
    <div class="heading">
        <h1>Art Integrated Project</h1>
        <h2>Science Project</h2>
        <h3>The lost species of sikkim</h3>
    </div>
    <h3 class="h3">Creators</h3>
    <div class="body">
        <div class="container">
            <div class="card">
                <img src="/static/images/aryan_g.jpg" >
                <div class="content">
                    <h2>Aryan Gupta</h2>
                    <h3>Web Developer</h3>
                    <h3>Photos Collector</h3>
                </div>
            </div>
            <div class="card">
                <img src="/static/images/arpit_m.jpg" >
                <div class="content">
                    <h2>Arpit Mohapatra</h2>
                    <h3>Data Collector</h3>
                    <h3>Styling advisor</h3>
                </div>
            </div>
            <div class="card">
                    <img src="/static/images/asmit_k.jpg">
                <div class="content">
                    <h2>Asmit Kumar</h2>
                    <h3>Data Sychronizer</h3>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="buttons">
        <a href="/intro">
            <h1>Continue to Project...</h1>
        </a>
    </div>

</body>

</html>